#{extends 'main.html' /}
#{set title:'Home' /}

<div class="container_shape">
	<div class="c-ap"><h1>Update User details</h1></div>
	<div class="c4-2p">
		#{form @Application.edit_me()}
			<div class="input_row">
				<label for="register_name" >Login name</label><span class="error">#{error 'user.name' /}</span>
				<input id="register_name" name="user.name" type='text' #{ifError 'user.name'} class='input_error' #{/ifError} value="${user_data?.name}"/>
			</div>
			<div class="input_row">
				<label for="register_email" >Email</label><span class="error">#{error 'user.email' /}</span>
				<input id="register_email" name="user.email" type='text' #{ifError 'user.email'} class='input_error' #{/ifError} value="${user_data?.email}"/ >
			</div>
			<div class="input_row">
				<label for="register_password" >Password</label><span class="error">#{error 'user.password' /}</span>
				<input id="register_password" name="user.password" type='password' #{ifError 'user.password'} class='input_error' #{/ifError} value="">
			</div>
			<div class="input_row">
				<label for="retype_register_password" >Confirm Password</label><span class="error">#{error 'confirm' /}</span>
				<input id="retype_register_password" name="confirm" type='password' #{ifError 'confirm'} class='input_error' #{/ifError} value=""/>
			</div>

			<div><input class="form_button" id="submit_login" type="submit" value="Update" /></div>
		#{/form}
	</div>
	<div class="c4-1p">
			#{if success}
				<h1>success</h1>
				#{list items:success, as:'success'}
				 <div><span class="success">${success}</span></div>
				#{/list}
			#{/if}
	</div>

	<div style="clear:both"></div>

</div>

<script type="text/javascript" >
	
</script>